@import url("https://fonts.googleapis.com/css2?family=Inter:opsz@14..32&family=Pacifico&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  background: #ece9ec;
  overflow-x: hidden;
}

input,
button {
  font-family: "Inter", sans-serif;
}

h1 {
  font-size: 1.6rem;
}

h2 {
  font-size: 3rem;
}
h3 {
  font-size: 1.6rem;
  width: fit-content;
}
h4 {
  font-size: 1.2rem;
}

button {
  cursor: pointer;
}

img,
path {
  pointer-events: none;
}

a {
  color: black;
  font-weight: bold;
}

p {
  font-size: 1.2rem;
}
