.home {
  min-height: 100vh;
  padding: 5rem;
  position: relative;
  h2 {
    padding: 4rem 0rem;
    font-family: "Pacifico", sans-serif;
    font-weight: 500;
  }
}

.recipes {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  column-gap: 3rem;
  row-gap: 4rem;
}

.loading {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.recipeList {
  margin-bottom: 4rem;
}
