.home {
  min-height: 100vh;
  padding: 5rem;
  h2 {
    padding: 4rem 0rem;
    font-family: "Pacifico";
    font-weight: 500;
  }
}

.recipes {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  column-gap: 3rem;
  row-gap: 4rem;
}

.recipe {
  background: white;
  border-radius: 1rem;
  overflow: hidden;
  box-shadow: 0px 0px 20px rgba($color: #000000, $alpha: 0.25);
  transition: scale 0.3s ease;
  img {
    width: 100%;
    height: 40vh;
    object-fit: cover;
    display: block;
  }
  &:hover {
    scale: 102%;
  }
  &:active {
    scale: 98%;
  }
}

.title {
  padding: 1rem;
  padding-bottom: 1.5rem;
  h3 {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
  h4 {
    padding-top: 1rem;
  }
}

.loading {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.recipeList {
  margin-bottom: 4rem;
}
