nav {
  background: #2a252b;
  color: white;
  min-height: 10vh;
  padding: 2.25rem 4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  h3 {
    font-family: "Pacifico", sans-serif;
    font-weight: 400;
    cursor: pointer;
  }
}

.logo {
  display: flex;
  cursor: pointer;
  h1 {
    font-weight: 500;
  }
  img {
    margin-left: 1rem;
  }
}

.searchBar {
  display: flex;
  width: 30rem;
  input,
  button {
    font-size: 1.5rem;
    border: none;
  }
  input {
    padding: 0.25rem 1rem;
    border-radius: 2rem 0rem 0rem 2rem;
    box-shadow: 0px 0px 20px rgba($color: #ffffff, $alpha: 0.25);
    width: 100%;
  }
  button {
    padding: 0.5rem 1rem;
    background: #1a181a;
    display: flex;
    align-items: center;
    border-radius: 0rem 2rem 2rem 0rem;
    box-shadow: 0px 0px 20px rgba($color: #3f3941, $alpha: 0.5);
  }
}
