.container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba($color: #000000, $alpha: 0.25);
  display: inline-block;
  padding: 5rem 10rem;
  overflow-x: hidden;
  z-index: 10;
  cursor: pointer;
  h2 {
    font-family: "Inter", sans-serif;
    font-weight: 500;
    padding: 8rem 0rem 0rem 2rem;
  }
}

.background {
  background: white;
  padding-bottom: 2rem;
  cursor: auto;
  position: relative;
}

.details {
  display: flex;
}

.image {
  flex: 1.25;
  img {
    width: 100%;
    height: 70vh;
    object-fit: cover;
    position: relative;
  }
}

.description {
  flex: 1;
  padding: 2rem;
  padding-left: 5rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  h3 {
    font-size: 2.5rem;
    margin-bottom: 2rem;
  }
  p {
    line-height: 300%;
  }
}

.ingredients {
  padding: 2rem;
}

.ingredient {
  padding: 1.5rem 1rem;
}

.close {
  position: absolute;
  top: 3%;
  right: 3%;
  cursor: pointer;
}
